body {
    margin: 0 auto;
    background-color: black;
}

html,body{
    height: 80rem;
    background:url("./images/images/afterthestorm.jpeg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title{
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
    text-align: center;
    margin-top: 18rem;
    padding: 40px;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: white;
}


.title-text{
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    text-align: center;
    padding: 40px;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: white;
}


.section-one-grid-wrapper {
    margin-top: 60vh;
}

.container {
    background-color: rgba(0,0,0,0.3);
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;

}

.section-one-child-image {
    width: 530px;
    height: 530px;
    padding: 10px;
    object-fit: cover;
}

.section-one-child-text{
    align-self: center;
    padding: 30px;
}


.em-color {
    color: grey;
}

.em-color-2 {
    color: black;
}

h1{
    font-family: 'Amatic SC', cursive;
    letter-spacing: 2px;;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    font-size: 20px;
    font-style: italic;
}