body {
    margin: 0 auto;
    background-color: black;
}

.zone {
    color:#FFF;
    font-size:1em;
}


/* Header Styles */

li {
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
}
    

.header{
    height: 60rem;
    background:url("./images/bandmi-photo.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.bandmi{
    font-family: 'Jockey One', sans-serif;
    font-size: 9rem;
    text-align: center;
    margin-top: 10rem;

}

/* Section Styles */

/* Section one styles */
.one {
    border: 2px solid white;
    height: 25rem;
}


/* Section two styles */

.two {
    background-color: black;
    height: 25rem;
}


/* Section three styles */

.three {
    background-color: white;
    height: 25rem;
}

/* Section four styles */

.four {
    background-color: black;
    height: 25rem;
}



/* Section five styles */

.five{
    background-color: white;
    height: 25rem;
}



/* Footer Styles */


footer {
    text-align: center;
}




/* Responsive Styles */


/* Header responsiveness */

@media only screen and (max-width: 600px) {
    .nav { 
        font-size: 0.5em;
        padding: 0;
    }

}


